<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.har.dev.spotifyapp"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".SpotifyApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.AppTheme">
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <provider
      android:name=".data.SpotifyProvider"
      android:authorities="com.har.dev.spotify"
      android:enabled="true"
      android:exported="true">
    </provider>

    <activity
      android:name=".AlbumsActivity"
      android:label="@string/title_albums"
      android:parentActivityName=".MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.har.dev.spotifyapp.MainActivity"/>
    </activity>
    <activity
      android:name=".ArtistTracksActivity"
      android:label="@string/title_albums"
      android:parentActivityName=".MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.har.dev.spotifyapp.MainActivity"/>
    </activity>
    <activity
      android:name=".PlayerActivity"
      android:label="@string/title_player"
      android:parentActivityName=".MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.har.dev.spotifyapp.MainActivity"/>
    </activity>

    <service
      android:name=".PlayerService"
      android:exported="false">
    </service>
  </application>

</manifest>
